include tests.py
include Cargo.toml
include Cargo.lock
recursive-include crates *.rs *.toml *.h
include klujax_native/__init__.py
include scripts/*.py
recursive-include tests_characterization *.py *.npz
